<div class="container row justify-content-center">
  <h1 class="text-decoration text-center">Stupid Coaching</h1>
  <form action="answer" data-turbo="false" class="form-control w-50">
    <input type="text" name="question" class="form-control mb-4" placeholder="Ask me something">
    <input type="submit" value="Ask!" class="btn btn-primary ">
  </form>
<div>
